/* CSS for index.html */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #cccccc;
}

/* Global */

.wrapper {
    margin: 0 auto;
    width: 960px;
    background-color: white;
    padding: 10px 30px 200px 30px;
}

.container {
    width: 960px;
    margin: 0 auto;
}


header ul {
    margin:0;
    padding:0;
}

p {
    color: grey;
}

/* Header */
header {
    padding: 45px;
    margin-bottom: 30px;
    background: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: #cccccc 2px solid;
}

header a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.4;

}

header li {
    float: left;
    display: inline;
    padding: 0 5px 0 5px;
}

header .myname {
    background-color: #4aaaa5;
    color: white;
    float: left;
    padding: 0px 15px 0px 15px;
}

header .myname h1 {
    margin: 0;
}

header nav {
    float: right;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#about_me {
    color: #4aaaa5;
}

#mainpic {
    float: left;
    padding-right: 20px;
    width: 200px;
}

section {
    display: inline-block;
    width: 960px;
    background: #ffffff;
    padding: 10px;
    margin: 0 auto;
}

#picture {
    padding-right: 20px;
    padding-bottom: 20px;
}

/* CSS for contact.html */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 40px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

/* Boxes */

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 45%;
    padding: 0px;
}

#boxes .box img{
    width: 250px;
}




/* Footer */
footer {
    text-align: center;
    font-size: 12px;
    padding: 5px;
    margin-top: 20px;
    background-color: #ccc;
    border-color: #4aaaa5;
    border-top: #4aaaa5 8px solid;
}